<form class="gd-search" onsubmit="search(event)" oninput="search(event)">
  <div class="gd-search-box"></div>
  <div class="gd-search-bar">
    <input
      type="text"
      name="query"
      placeholder="Search..."
      class="gd-search-input"
      autocomplete="off"
    />
    <button type="submit" class="gd-search-button" tabindex="-1">
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div id="results"></div>
  <div class="gd-search-spotlight"></div>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script>
    const documents = [
      {
        name: "Lunr",
        text: "Like Solr, but much smaller, and not as bright.",
      },
      {
        name: "Getting started",
        url: "Ye",
        text: "A JavaScript library for building user interfaces.",
      },
      {
        name: "Lodash",
        text: "A modern JavaScript utility library delivering modularity, performance & extras.",
      },
    ];

    const idx = lunr(function () {
      this.ref("name");
      this.field("url");
      this.field("text");
      this.metadataWhitelist = ["position"];

      documents.forEach(function (doc) {
        this.add(doc);
      }, this);
    });

    const resultsEl = document.querySelector("#results");

    let timeoutHandle;
    function search(ev) {
      clearTimeout(timeoutHandle);
      if (ev.type === "submit") ev.preventDefault();
      resultsEl.innerHTML = "";

      const value =
        ev.type === "input" ? ev.target.value : ev.target.query.value;

      if (value?.trim() === "") return;

      timeoutHandle = setTimeout(() => {
        for (let result of idx.search(value)) {
          const resultEl = document.createElement("div");
          resultEl.tabIndex = 0;
          resultEl.innerText = result.ref;
          resultsEl.appendChild(resultEl);
        }
      }, 300);
    }
  </script>
</form>
