<form class="gd-search" onsubmit="search(event)" oninput="search(event)">
  <div class="gd-search-box"></div>
  <div class="gd-search-bar">
    <input
      type="text"
      name="query"
      placeholder="Search..."
      class="gd-search-input"
      autocomplete="off"
    />
    <button type="submit" class="gd-search-button" tabindex="-1">
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div id="results" hidden></div>
  <div class="gd-search-spotlight"></div>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script>
    let idx;
    const docs = {};

    async function initialiseSearch() {
      const response = await fetch("/assets/search.json");
      const documents = await response.json();
      idx = lunr(function () {
        this.ref("path");
        this.field("text");
        this.metadataWhitelist = ["position"];

        documents.forEach(function (doc) {
          this.add(doc);
          docs[doc.path] = doc;
        }, this);
      });
    }

    initialiseSearch();

    const resultsEl = document.querySelector("#results");

    let timeoutHandle;
    function search(ev) {
      clearTimeout(timeoutHandle);
      if (ev.type === "submit") ev.preventDefault();
      resultsEl.innerHTML = "";

      const value =
        ev.type === "input" ? ev.target.value : ev.target.query.value;

      if (value?.trim() === "") return;

      timeoutHandle = setTimeout(() => {
        const results = idx?.search(value);
        for (let result of results) {
          const doc = docs[result.ref];

          const resultEl = document.createElement("a");
          resultEl.tabIndex = 0;
          resultEl.href = doc.path;

          const titleEl = document.createElement("h1");
          titleEl.innerText = doc.name;

          resultEl.appendChild(titleEl);

          const textEl = document.createElement("p");
          const metadata = result?.matchData?.metadata ?? {};
          const [pos, length] = Object.values(metadata)[0]?.text
            ?.position?.[0] ?? [0, 0];
          const contextSize = 100;
          const start = pos;
          const end = pos + length;
          const contextStart =
            start - contextSize < 0 ? 0 : start - contextSize;
          const contextEnd = pos + length + contextSize;
          const beforeContext = doc.text.slice(contextStart, start);
          const match = doc.text.slice(start, end);
          const afterContext = doc.text.slice(end, contextEnd);
          textEl.innerHTML = `${beforeContext}<strong>${match}</strong>${afterContext}`;

          resultEl.appendChild(textEl);

          resultsEl.appendChild(resultEl);
        }

        if (results?.length > 0) {
          resultsEl.toggleAttribute("hidden");
        }
      }, 300);
    }
  </script>
</form>
