html {
  font-size: 18px;
}

code {
  font-family: monospace;
}

code:not([class^="language-"]) {
  background-color: color-mix(in srgb, var(--gd-secondary-color), transparent);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

* {
  transition: background-color 0.3s linear, color 0.3s linear,
    text-decoration-color 0.3s linear;
}

hr {
  color: var(--gd-primary-color);
  border: 1px solid;
  margin: 2rem 0;
}

body {
  background-color: color-mix(
    in srgb,
    var(--gd-bg-primary) 85%,
    var(--gd-primary-color)
  );
  color: var(--gd-fg-primary);
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  flex: 1;
}

.gd-title {
  h1 {
    margin: 0;
  }
}

.gd-header {
  background: var(--gd-header-bg-color);
  color: var(--gd-header-fg-color);
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  user-select: none;
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.15);

  [data-gd-decorations~="glass"] & {
    backdrop-filter: blur(12px);
  }

  h1 {
    color: var(--gd-header-fg-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    gap: 1rem;
    font-size: 0.875rem;
  }
}

a {
  text-decoration: none;
  text-decoration-color: var(--gd-secondary-color);
  text-decoration-thickness: 2px;
  color: var(--gd-fg-primary);

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--gd-secondary-color);
    text-decoration-thickness: 2px;
  }
}

.highlight {
  color: var(--gd-secondary-color);
}

.gd-back::before {
  content: "\F111";
  font-family: bootstrap-icons;
}

.gd-nav,
.gd-toc {
  user-select: none;
  padding: 0 1rem;
  padding-top: 1rem;
  position: relative;

  nav {
    position: sticky;
    top: 98px;
  }

  nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  a.active {
    color: var(--gd-secondary-color);
  }

  a.toc-1 {
    font-weight: bold;
  }
  a.toc-2 {
  }
  a.toc-3 {
    font-size: 0.9em;
  }
  a.toc-4 {
    font-size: 0.8em;
    padding-left: 0.5rem;
  }
  a.toc-5 {
  }
  a.toc-6 {
  }

  details ul {
    padding-left: 1rem;
  }

  details > summary {
    display: flex;
  }

  details[open] > summary::before {
    content: "\F124";
    font-family: bootstrap-icons;
  }

  details > summary::before {
    content: "\F135";
    font-family: bootstrap-icons;
  }
}

.gd-nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.gd-toc {
  font-size: 0.875rem;
}

article {
  width: 100%;
  overflow: none;

  h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: var(--gd-secondary-color);
  }

  h3 {
    color: var(--gd-secondary-color);
  }

  h4 {
    margin-bottom: 1rem;
  }

  a:not([class]) {
    color: var(--gd-secondary-color);
  }

  table {
    width: 100%;
    table-layout: fixed;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  details {
    summary {
      display: flex;
      border-bottom: 1px solid var(--gd-fg-primary);
      padding-bottom: 1rem;
      align-items: baseline;
      justify-content: space-between;

      &::after {
        font-family: bootstrap-icons;
        content: "\F285";
      }
    }

    &:open {
      summary {
        &::after {
          content: "\F282";
        }
      }
    }

    & > :not(:is(summary)) {
      margin-left: 1rem;
    }
  }
}

.gd-footer {
  background-color: color-mix(
    in srgb,
    var(--gd-bg-primary) 90%,
    var(--gd-primary-color)
  );
  font-size: 0.875rem;
  color: var(--gd-fg-color);
  text-align: end;
  margin-top: 4rem;
}

.gd-footer-info {
  padding: 1rem;
}

.gd-footer-nav {
  min-height: 5rem;
  background-color: color-mix(
    in srgb,
    var(--gd-bg-primary) 90%,
    var(--gd-primary-color)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  padding: 0 1rem;

  i {
    font-size: 2rem;
    display: inline;
    height: 100%;
    display: block;
  }
}

.gd-nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: fit-content;
  gap: 0.5rem;
  flex-direction: row-reverse;

  > div {
    display: flex;
    flex-direction: column;
    align-items: start;

    h2 {
      margin: 0;
    }
  }

  &.next {
    flex-direction: row;

    > div {
      align-items: end;
    }
  }
}

.admonition {
  --border-radius: 0.5rem;
  --color: var(--gd-primary-color);
  --icon: "\F430";
  background-color: color-mix(in srgb, var(--color), transparent 80%);

  &.note {
    --color: var(--gd-color-blue);
    --icon: "\F430";
  }

  &.success {
    --color: var(--gd-color-green);
    --icon: "\F26A";
  }

  &.question {
    --color: var(--gd-color-mimosa);
    --icon: "\F504";
  }

  &.warning {
    --color: var(--gd-color-orange);
    --icon: "\F33A";
  }

  &.critical {
    --color: var(--gd-color-red);
    --icon: "\F33A";
  }

  margin-top: 1rem;
  border: 2px solid var(--color);
  padding-bottom: 0.5rem;
  border-radius: var(--border-radius);

  p {
    margin-top: 0;
  }

  & :not(:first-child) {
    padding: 0 1rem;
  }

  .admonition-title {
    &::before {
      content: var(--icon);
      font-family: bootstrap-icons;
      color: var(--color);
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: color-mix(in srgb, var(--color) 30%, transparent);
  }
}

.gd-search {
  --focus-background: white;

  position: relative;
  color: var(--gd-header-fg-color);
  min-width: 10rem;
  width: 15rem;
  height: 2rem;
  border-radius: 0.25rem;
  transition: width 0.3s ease-in-out;

  &:focus-within {
    color: black;
    width: 20rem;

    .gd-search-box {
      background-color: var(--focus-background);
      mix-blend-mode: normal;
    }

    .gd-search-spotlight {
      background-color: rgba(0, 0, 0, 0.3);
      pointer-events: all;
    }

    #results {
      display: block;
    }
  }

  .gd-search-box {
    background-color: #00000036;
    mix-blend-mode: color-burn;
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .gd-search-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;

    .gd-search-input {
      height: 100%;
      width: 100%;
      border: none;
      background: none;
      color: inherit;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;

      &::placeholder {
        color: var(--gd-header-fg-color);
        mix-blend-mode: hard-light;
      }

      &:focus {
        outline: none;
      }
    }

    .gd-search-button {
      height: 100%;
      background-color: transparent;
      border: none;
      color: inherit;
      padding: 0 0.5rem;
      mix-blend-mode: hard-light;
    }
  }

  .gd-search-spotlight {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  #results {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--focus-background);
    border-radius: 0.25rem;
    padding: 0.5rem;
    z-index: 1;
  }
}
