html {
  font-size: 18px;
}

code {
  white-space: pre;
}

body {
  background-color: var(--gd-bg-primary);
  color: var(--gd-fg-primary);
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  flex: 1;
}

.gd-title {
  h1 {
    margin: 0;
  }
}

.gd-header {
  background-color: var(--gd-bg-secondary);
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  user-select: none;

  h1 {
    color: var(--gd-accent-color);
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }
}

.gd-footer {
  background-color: var(--gd-bg-secondary);
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.875rem;
  color: #b4b4b4;
  text-align: end;
}

a {
  text-decoration: none;
  color: var(--gd-fg-primary);

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--gd-accent-color);
  }
}

.highlight {
  color: var(--gd-accent-color);
}

.gd-back::before {
  content: "\F111";
  font-family: bootstrap-icons;
}

.gd-nav,
.gd-toc {
  user-select: none;
  padding: 0 1rem;
  padding-top: 1rem;

  nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  details ul {
    padding-left: 1rem;
  }

  details > summary {
    display: flex;
  }

  details[open] > summary::before {
    content: "\F124";
    font-family: bootstrap-icons;
  }

  details > summary::before {
    content: "\F135";
    font-family: bootstrap-icons;
  }
}

article {
  h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    &::before {
      content: "";
      width: 0.5rem;
      height: 1.5rem;
      border-radius: 999px;
      background: var(--gd-accent-color);
    }
  }

  h2 {
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: var(--gd-accent-color);
  }

  h3 {
    color: var(--gd-accent-color);
  }
}
