:root {
  --gd-red: #d7263d;
  --gd-orange: #f46036;
  --gd-yellow: #ffd23f;
  --gd-green: #3f784c;
  --gd-blue: #33658a;
  --gd-indigo: #6c5ce7;
  --gd-violet: #b45fbb;

  --gd-max-width: 61rem;
  --gd-bg-primary: #d6ccc2;
  --gd-bg-secondary: #edede9;
  --gd-fg-primary: #241e2f;

  --gd-accent-color: purple;

  [data-gd-accent-color="blue"] {
    --gd-accent-color: var(--gd-blue);
  }

  [data-gd-accent-color="green"] {
    --gd-accent-color: var(--gd-green);
  }

  [data-gd-accent-color="yellow"] {
    --gd-accent-color: var(--gd-yellow);
  }

  [data-gd-accent-color="orange"] {
    --gd-accent-color: var(--gd-orange);
  }

  [data-gd-accent-color="red"] {
    --gd-accent-color: var(--gd-red);
  }

  [data-gd-accent-color="indigo"] {
    --gd-accent-color: var(--gd-indigo);
  }

  [data-gd-accent-color="violet"] {
    --gd-accent-color: var(--gd-violet);
  }

  [data-gd-color-scheme="dark"] {
    --gd-bg-primary: #0d1b2a;
    --gd-bg-secondary: #1b263b;
    --gd-fg-primary: #e0e1dd;
  }
}
